/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: #86B817;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: #F5F5F5 !important;
}

